.main {
  display: flex;
  height: calc(100% - 60px);
  position: relative;
}
.menuButton {
  position: absolute;
  /* svg height: 1.4rem */
  top: calc(-30px - 0.7rem);
  padding: 0;
  left: 1rem;
  z-index: 500;
}

@media (min-width: 600px) {
  .menuButton {
    display: none;
  }
}
