.header {
  display: flex;
  height: 60px;
  padding: 0 3rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  z-index: 10;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .header {
    justify-content: flex-start;
  }
}
